<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="projects$projectId">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/projects">プロジェクト一覧</a></li>
				  <li class="active">{{makeTitle('プロジェクト詳細')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1><span class="entity-attribute">{{project.name}}</span> の詳細</h1>
		</header>

		<article>
			<div class="panel panel-default">
				<div class="panel-heading">
					プロジェクト情報
				</div>
				<table class="table">
					<tr><th>コード</th><td>{{project.code}}</td></tr>
					<tr><th>担当者</th><td>{{project.responsiblePerson}}</td></tr>
					<tr><th>コミット・サイン</th><td>{{project.commitSignPattern}}</td></tr>
					<tr><th>初期コミット日時</th><td>{{project.minCommitDate}}</td></tr>
					<tr><th>最終コミット日時</th><td>{{project.maxCommitDate}}</td></tr>
					<tr><th>コミット回数</th><td>{{project.commitCount}}</td></tr>
					<tr><th>変更パス数</th><td>{{project.pathCount}}</td></tr>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<a class="btn btn-default" href="#" ng-href="#/projects/{{project.id}}/commits" role="button">コミット一覧</a>
							<a class="btn btn-default" href="#" ng-href="#/projects/{{project.id}}/changedpaths" role="button">変更パス一覧</a>
							<a class="btn btn-default" href="#" ng-href="#/projects/{{project.id}}/virtualchangedpaths" role="button">仮想変更パス一覧</a>
							<a class="btn btn-default" href="#" ng-href="#/projects/{{project.id}}/parallels" role="button">並行開発一覧</a>
						</div><!-- /.col-lg-N -->
						<div class="col-lg-6" style="text-align: right;">
							<a class="btn btn-default" role="button" href="#" ng-href="#/projects/{{project.id}}/link">コミット紐付け</a>
							<a class="btn btn-default" role="button" href="#" ng-href="#/projects/{{project.id}}/edit">編集</a>
							<a class="btn btn-danger" role="button" href="#" ng-href="#/projects/{{project.id}}/delete">削除</a>
						</div><!-- /.col-lg-N -->
					</div><!-- /.row -->
				</div>
			</div>
		</article>
	</div><!-- /.container -->
</body>
</html>