<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="projects$projectId$virtualchangedpaths$id$delete">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/projects">プロジェクト一覧</a></li>
				  <li><a href="#" ng-href="#/projects/{{project.id}}">プロジェクト詳細</a></li>
				  <li><a href="#" ng-href="#/projects/{{project.id}}/virtualchangedpaths">プロジェクト仮想変更パス一覧</a></li>
				  <li class="active">{{makeTitle('仮想変更パス削除')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1>仮想変更パス削除</h1>
		</header>

		<article>
			<form method="post" ng-submit="submit()">
				<div class="panel panel-danger">
					<div class="panel-heading">
						仮想変更パス解除の確認
					</div>
					<div class="panel-body">
						プロジェクト <span class="entity-attribute">{{project.name}}</span> の仮想変更パス
						<span class="entity-attribute">{{path.repositoryName}}</span>リポジトリ の
						<span class="entity-attribute">{{path.path}}</span>
						を削除してもよろしいですか？<br />
						このオペレーションは取り消しができません。
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
							</div><!-- /.col-lg-N -->
							<div class="col-lg-6" style="text-align: right;">
								<a class="btn btn-default" role="button" href="#" ng-href="#/projects/{{project.id}}/virtualchangedpaths">キャンセル</a>
								<button class="btn btn-danger" type="submit">削除してOK</button>
							</div><!-- /.col-lg-N -->
						</div><!-- /.row -->
					</div>
				</div>
			</form>
		</article>
	</div><!-- /.container -->
</body>
</html>