<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="prjects$projectId$commits">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/projects">プロジェクト一覧</a></li>
				  <li><a href="#" ng-href="#/projects/{{project.id}}">プロジェクト詳細</a></li>
				  <li class="active">{{makeTitle('プロジェクト・コミット一覧')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1><span class="entity-attribute">{{project.name}}</span> のコミット一覧</h1>
		</header>

		<article>
			<form method="get" name="thisForm" ng-submit="submit()">
				<uib-accordion>
					<uib-accordion-group is-open="open">
						<uib-accordion-heading>
							検索条件 <span class="pull-right glyphicon" aria-hidden="true"
							 ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></span>
						</uib-accordion-heading>
						<table class="table table-borderless">
							<tr>
								<th>検索方法</th>
								<td>
									<div class="btn-group">
										<label class="btn btn-default" ng-model="cond.pathbase" uib-btn-radio="false">コミットメッセージ</label>
										<label class="btn btn-default" ng-model="cond.pathbase" uib-btn-radio="true">変更パス名</label>
									</div>
								</td>
							</tr>
							<tr>
								<th>プロジェクト名</th>
								<td>
									<input type="text"
										class="form-control"
										name="like"
										autocomplete="off"
										placeholder="キーワードを入力してください"
										ng-model="cond.like"
										uib-typeahead="name for name in pathNames($viewValue)"
										typeahead-min-length="3"
										typeahead-focus-first="false" />
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">検索</button>
								</td>
							</tr>
						</table>
					</uib-accordion-group>
				</uib-accordion>
			</form>
			<div class="panel panel-warning" ng-show="list.length === 0">
				<div class="panel-heading">
					コミット一覧
				</div>
				<div class="panel-body">
					コミットが1件も見つかりませんでした。
				</div>
			</div>
			<div class="panel panel-default" ng-show="list.length > 0">
				<div class="panel-heading">
					コミット一覧
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
						</div>
					</div>
				</div>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>リポジトリ名</th>
							<th>リビジョン</th>
							<th>コミット日時</th>
							<th>メッセージ</th>
							<th>アクション</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="item in list">
							<td>{{item.repositoryName}}</td>
							<td><a href="#" ng-href="#/repositories/{{item.repositoryId}}/commits/{{item.id}}">{{item.revision}}</a></td>
							<td>{{item.commitDate}}</td>
							<td>{{item.commitMessage | excerpt:50}}</td>
							<td>
								<div class="btn-group btn-group-xs" role="group">
									<a class="btn btn-default" href="#" ng-href="#/repositories/{{item.repositoryId}}" role="button">リポジトリ詳細</a>
									<a class="btn btn-default" href="#" ng-href="#/repositories/{{item.repositoryId}}/commits/{{item.id}}" role="button">コミット詳細</a>
									<a class="btn btn-danger" href="#" ng-href="#/projects/{{project.id}}/commits/{{item.id}}/delete" role="button">紐付け解除</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
						</div>
					</div>
				</div>
			</div>
		</article>
	</div><!-- /.container -->
</body>
</html>