<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="projects$projectId$edit">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/projects">プロジェクト一覧</a></li>
				  <li ng-show="project.id !== undefined"><a href="#" ng-href="#/projects/{{project.id}}">プロジェクト詳細</a></li>
				  <li class="active" ng-bind="makeTitle('リポジトリ' + (project.id === undefined ? '追加' : '編集'))">プロジェクト編集</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1>プロジェクト{{project.id !== undefined ? '編集' : '追加'}}</h1>
		</header>

		<article>
			<form method="post" name="projectForm" ng-submit="submit()">
				<div class="panel panel-default">
					<div class="panel-heading">
						プロジェクト情報
					</div>
					<table class="table">
						<tr>
							<th>名前</th>
							<td style="width: 75%;"><input type="text" class="form-control" required="required"
							ng-model="project.name" /></td>
						</tr>
						<tr>
							<th>コード</th>
							<td><input type="text" class="form-control" required="required"
							ng-model="project.code" /></td>
						</tr>
						<tr>
							<th>担当者</th>
							<td><input type="text" class="form-control" required="required"
							ng-model="project.responsiblePerson" /></td>
						</tr>
						<tr>
							<th>リリース予定日</th>
							<td>
								<input type="text" class="form-control" readonly="readonly"
								value="{{dpDate | date : 'yyyy/MM/dd'}}" />
								<div style="padding: 1ex 0;">
								<uib-datepicker ng-model="dpDate"
								ng-change="dpChange()"
								datepicker-options="dpOptions"></uib-datepicker>
							</td>
						</tr>
						<tr>
							<th>コミット・サイン</th>
							<td><input type="text" name="commitSignPattern" class="form-control" required="required"
							ng-model="project.commitSignPattern" regex-validate="regex-validate" />
							<span ng-show="projectForm.commitSignPattern.$error.regex">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								正規表現パターンに構文エラーがあります.
							</span>
							</td>
						</tr>
						<tr>
							<th>紐付けやり直し</th>
							<td><input type="checkbox" ng-model="project.redoCommitLink" /></td>
						</tr>
					</table>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
							</div><!-- /.col-lg-N -->
							<div class="col-lg-4">
							</div><!-- /.col-lg-N -->
							<div class="col-lg-2" style="text-align: right;">
								<a class="btn btn-default" role="button" href="#" ng-href="#/projects/{{project.id}}">キャンセル</a>
								<button class="btn btn-primary" type="submit" ng-disabled="projectForm.$invalid">OK</button>
							</div><!-- /.col-lg-N -->
						</div><!-- /.row -->
					</div>
				</div>
			</form>
		</article>
	</div><!-- /.container -->
</body>
</html>
