<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="repositories$repositoryId$commits$commitId$link">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/repositories">リポジトリ一覧</a></li>
				  <li><a href="#" ng-href="#/repositories/{{repository.id}}">リポジトリ詳細</a></li>
				  <li><a href="#" ng-href="#/repositories/{{commit.repositoryId}}/commits">コミット一覧</a></li>
				  <li><a href="#" ng-href="#/repositories/{{commit.repositoryId}}/commits/{{commit.id}}">コミット詳細</a></li>
				  <li class="active">{{makeTitle('プロジェクト紐付け')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1><span class="entity-attribute">{{commit.revision}}</span> のプロジェクト紐付け</h1>
		</header>

		<article>
			<form method="get" name="thisForm" ng-submit="submit()">
				<uib-accordion>
					<uib-accordion-group is-open="open">
						<uib-accordion-heading>
							検索条件 <span class="pull-right glyphicon" aria-hidden="true"
							 ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></span>
						</uib-accordion-heading>
						<table class="table table-borderless">
							<tr>
								<th>検索方法</th>
								<td>
									<div class="btn-group">
										<label class="btn btn-default" ng-model="cond.pathbase" uib-btn-radio="0">プロジェクト名</label>
										<label class="btn btn-default" ng-model="cond.pathbase" uib-btn-radio="1">変更パス名</label>
									</div>
								</td>
							</tr>
							<tr>
								<th>キーワード</th>
								<td>
									<input type="text"
										class="form-control"
										name="like"
										autocomplete="off"
										placeholder="キーワードを入力してください"
										ng-model="cond.like"
										uib-typeahead="name for name in projectOrPathNames($viewValue)"
										typeahead-min-length="3"
										typeahead-focus-first="false" />
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">検索</button>
								</td>
							</tr>
						</table>
					</uib-accordion-group>
				</uib-accordion>
			</form>
		</article>
		
		<article>
			<div class="panel panel-warning" ng-show="list.length === 0">
				<div class="panel-heading">
					プロジェクト一覧
				</div>
				<div class="panel-body">
					紐付け可能なプロジェクトが1件も見つかりませんでした。
				</div>
			</div>
			<div class="panel panel-default" ng-show="list.length > 0">
				<div class="panel-heading">
					プロジェクト一覧
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
							<button type="button" class="btn btn-primary" ng-click="click()">紐付け</button>
						</div>
					</div>
				</div>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th style="width: 60px;">選択</th>
							<th>プロジェクト名</th>
							<th>プロジェクトコード</th>
							<th>責任者</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in list">
							<td><input type="checkbox" ng-model="item.selected" ng-disabled="item.linked" /></td>
							<td><a href="#" ng-href="#/projects/{{item.id}}">{{item.name}}</a></td>
							<td>{{item.code}}</td>
							<td>{{item.responsiblePerson}}</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
							<button type="button" class="btn btn-primary" ng-click="click()">紐付け</button>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div><!-- /.container -->
</body>
</html>