<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="repositories$repositoryId$commits$commitId">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/repositories">リポジトリ一覧</a></li>
				  <li><a href="#" ng-href="#/repositories/{{commit.repositoryId}}">リポジトリ詳細</a></li>
				  <li><a href="#" ng-href="#/repositories/{{commit.repositoryId}}/commits">コミット一覧</a></li>
				  <li class="active">{{makeTitle('コミット詳細')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1><span class="entity-attribute">{{commit.revision}}</span> のコミット詳細</h1>
		</header>

		<article>
			<div class="panel panel-default">
				<div class="panel-heading">
					コミット情報
				</div>
				<table class="table">
					<tr><th>リビジョン</th><td>{{commit.revision}}</td></tr>
					<tr><th nowrap="nowrap">コミット日時</th><td>{{commit.commitDate}}</td></tr>
					<tr><th>コミッター</th><td>{{commit.committerName}}</td></tr>
					<tr><th>メッセージ</th><td>{{commit.commitMessage}}</td></tr>
					<tr><th>変更パス数</th><td>{{commit.pathCount}}</td></tr>
					<tr><th nowrap="nowrap">関連プロジェクト</th><td>
						<span ng-show="projectList.totalSize == 0">（関連プロジェクトなし）</span>
						<span ng-repeat="item in projectList.list">
							<span><a href="#" ng-href="#/projects/{{item.id}}">{{item.name}}</a>
							({{item.code}}) {{$last ? '' : '、'}}</span>
						</span>
						<span ng-show="projectList.totalSize > projectList.size">
							ほか {{projectList.totalSize - projectList.size}}プロジェクト
						</span>
					</td></tr>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<a class="btn btn-default" role="button" href="#" 
							ng-href="#/repositories/{{commit.repositoryId}}/commits/{{commit.id}}/changedpaths" 
							ng-disabled="commit.pathCount == 0">変更パス一覧</a>
						</div><!-- /.col-lg-N -->
						<div class="col-lg-4">
						</div><!-- /.col-lg-N -->
						<div class="col-lg-2" style="text-align: right;">
							<a class="btn btn-default" href="#" ng-href="#/repositories/{{commit.repositoryId}}/commits/{{commit.id}}/link" role="button">プロジェクト紐付け</a>
						</div><!-- /.col-lg-N -->
					</div><!-- /.row -->
				</div>
			</div>
		</article>
	</div>
</body>
</html>