<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="repositories$repositoryId$commits">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/repositories">リポジトリ一覧</a></li>
				  <li><a href="#" ng-href="#/repositories/{{repository.id}}">リポジトリ詳細</a></li>
				  <li class="active">{{makeTitle('コミット一覧')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1><span class="entity-attribute">{{repository.name}}</span> のコミット一覧</h1>
		</header>

		<article>
			<div class="panel panel-default" ng-show="list.length > 0">
				<div class="panel-heading">
					コミット一覧
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
						</div>
					</div>
				</div>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>リビジョン</th>
							<th>コミット日時</th>
							<th>メッセージ</th>
							<th>変更パス数</th>
							<th>関連プロジェクト</th>
							<th>アクション</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="item in list">
							<td><a href="#" ng-href="#/repositories/{{repository.id}}/commits/{{item.id}}">{{item.revision}}</a></td>
							<td>{{item.commitDate}}</td>
							<td>{{item.commitMessage | excerpt:50}}</td>
							<td>{{item.pathCount}} ファイル</td>
							<td>
								<span ng-show="item.projectCount == 0">なし</span>
								<span ng-show="item.projectCount > 0">{{item.projectCount}} プロジェクト</span>
							</td>
							<td>
								<div class="btn-group btn-group-xs" role="group">
									<a class="btn btn-default" href="#" ng-href="#/repositories/{{repository.id}}/commits/{{item.id}}" role="button">コミット詳細</a>
									<a class="btn btn-default" href="#" ng-href="#/repositories/{{repository.id}}/commits/{{item.id}}/changedpaths" role="button" ng-disabled="item.pathCount == 0">変更パス一覧</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
						</div>
					</div>
				</div>
			</div>
		</article>
	</div><!-- /.container -->
</body>
</html>