<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="repositories$repositoryId">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/repositories">リポジトリ一覧</a></li>
				  <li class="active">リポジトリ詳細</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1>{{repository.name}}</h1>
		</header>

		<article>
			<div class="panel panel-default">
				<div class="panel-heading">
					リポジトリ情報
				</div>
				<table class="table">
					<tr><th>ベースURL</th><td>{{repository.baseUrl}}</td></tr>
					<tr><th>trunkパス・パターン</th><td>{{repository.trunkPathPattern}}</td></tr>
					<tr><th>branchパス・パターン</th><td>{{repository.branchPathPattern}}</td></tr>
					<tr><th>最終リビジョン</th><td>{{repository.maxRevision}}</td></tr>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<a class="btn btn-default" href="#" ng-href="project-resource-list.html#?id={{project.id}}" role="button">リソース一覧</a>
							<a class="btn btn-default" href="#" ng-href="project-resource-contention-list.html#?id={{project.id}}" role="button">競合チェック</a>
						</div><!-- /.col-lg-N -->
						<div class="col-lg-4">
						</div><!-- /.col-lg-N -->
						<div class="col-lg-2" style="text-align: right;">
							<a class="btn btn-default" role="button" href="#" ng-href="#/repositories/{{repository.id}}/edit">編集</a>
							<a class="btn btn-danger" role="button" href="#" ng-href="#/repositories/{{repository.id}}/delete">削除</a>
						</div><!-- /.col-lg-N -->
					</div><!-- /.row -->
				</div>
			</div>

			<div class="panel panel-default" ng-show="list.length > 0">
				<div class="panel-heading">
					コミット一覧
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChange()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
							<a class="btn btn-default" href="project-edit.html">追加</a>
						</div>
					</div>
				</div>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>リビジョン</th>
							<th>コミット日時</th>
							<th>メッセージ</th>
							<th>関連プロジェクト</th>
							<th>アクション</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="item in list">
							<td><a href="#" ng-href="#/repositories/{{repository.id}}/commits/{{item.id}}">{{item.revision}}</a></td>
							<td>{{item.commitDate}}</td>
							<td>{{item.commitMessage | excerpt:50}}</td>
							<td>
								<span ng-show="item.projectCount == 0">なし</span>
								<span ng-show="item.projectCount > 0">{{item.projectCount}} プロジェクト</span>
							</td>
							<td>
								<div class="btn-group btn-group-xs" role="group">
									<a class="btn btn-default" href="#" ng-href="#/repositories/{{item.id}}" role="button">リポジトリ詳細</a>
									<a class="btn btn-default" href="#" ng-href="#/repositories/{{item.id}}/commits" role="button">コミット一覧</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
						</div>
						<div class="col-lg-6">
						</div>
					</div>
				</div>
			</div>
		</article>
	</div><!-- /.container -->
</body>
</html>