<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="repositories$repositoryId$commits$commitId">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/repositories">リポジトリ一覧</a></li>
				  <li><a href="#" ng-href="#/repositories/{{cond.repositoryId}}">リポジトリ詳細</a></li>
				  <li class="active">コミット詳細</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1>コミット詳細</h1>
		</header>

		<article>
			<div class="panel panel-default">
				<div class="panel-heading">
					コミット情報
				</div>
				<table class="table">
					<tr><th>リビジョン</th><td>{{commit.revision}}</td></tr>
					<tr><th nowrap="nowrap">コミット日時</th><td>{{commit.commitDate}}</td></tr>
					<tr><th>コミッター</th><td>{{commit.committerName}}</td></tr>
					<tr><th>メッセージ</th><td>{{commit.commitMessage}}</td></tr>
					<tr><th nowrap="nowrap">関連プロジェクト</th><td>
						<span ng-show="projectList.totalSize == 0">（関連プロジェクトなし）</span>
						<span ng-repeat="item in projectList.list">
							<span><a href="#" ng-href="#/projects/{{item.id}}">{{item.name}}</a>
							({{item.code}}) {{$last ? '' : '、'}}</span>
						</span>
						<span ng-show="projectList.totalSize > projectList.size">
							ほか {{projectList.totalSize - projectList.size}}プロジェクト
						</span>
					</td></tr>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<a class="btn btn-default" href="#" ng-href="project-resource-list.html#?id={{project.id}}" role="button">リソース一覧</a>
							<a class="btn btn-default" href="#" ng-href="project-resource-contention-list.html#?id={{project.id}}" role="button">競合チェック</a>
						</div><!-- /.col-lg-N -->
						<div class="col-lg-4">
						</div><!-- /.col-lg-N -->
						<div class="col-lg-2" style="text-align: right;">
							<a class="btn btn-default" role="button" href="#" ng-href="project-edit.html#?id={{project.id}}">変更</a>
							<button class="btn btn-danger" type="button" ng-click="openDelModal(project)">削除</button>
						</div><!-- /.col-lg-N -->
					</div><!-- /.row -->
				</div>
			</div>

			<div class="panel panel-default" ng-show="list.length > 0">
				<div class="panel-heading">
					変更パス一覧
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<!-- empty -->
						</div>
						<div class="col-lg-6" style="text-align: center;">
							<uib-pagination total-items="totalSize"
								ng-model="cond.page"
								ng-change="pageChanged()"
								max-size="5"
								class="pagination-sm"
								boundary-links="true"
								items-per-page="size"
								first-text="最初"
								previous-text="前"
								next-text="次"
								last-text="最後"
							></uib-pagination>
						</div>
						<div class="col-lg-2">
							<!-- empty -->
						</div>
						<div class="col-lg-1">
							<a class="btn btn-default" href="project-edit.html">追加</a>
						</div>
					</div>
				</div>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>変更タイプ</th>
							<th>変更パス</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="item in list">
							<td>
								<span class="label label-info" ng-show="item.changeTypeId == 1">ADDED</span>
								<span class="label label-danger" ng-show="item.changeTypeId == 2">DELETED</span>
								<span class="label label-warning" ng-show="item.changeTypeId == 3">MODIFIED</span>
								<span class="label label-danger" ng-show="item.changeTypeId == 4">REPLACED</span>
							</td>
							<td>{{item.path}}</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
						</div>
						<div class="col-lg-6">
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</body>
</html>