<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="repositories$repositoryId$delete">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/repositories">リポジトリ一覧</a></li>
				  <li><a href="#" ng-href="#/repositories/{{repository.id}}">リポジトリ詳細</a></li>
				  <li class="active">{{makeTitle('リポジトリ削除')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1>リポジトリ削除</h1>
		</header>

		<article>
			<form method="post" ng-submit="submit()">
				<div class="panel panel-danger">
					<div class="panel-heading">
						リポジトリ削除の確認
					</div>
					<div class="panel-body">
						リポジトリ {{repository.name}} を削除してもよろしいですか？<br />
						このオペレーションは取り消しができません。<br />
						リポジトリ情報とともにリポジトリに紐づくコミット情報、変更パス情報、さらにプロジェクトのコミット情報も削除されます。
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
							</div><!-- /.col-lg-N -->
							<div class="col-lg-6" style="text-align: right;">
								<a class="btn btn-default" role="button" href="#" ng-href="#/repositories/{{repository.id}}">キャンセル</a>
								<button class="btn btn-danger" type="submit">削除してOK</button>
							</div><!-- /.col-lg-N -->
						</div><!-- /.row -->
					</div>
				</div>
			</form>
		</article>
	</div><!-- /.container -->
</body>
</html>