<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div class="container" ng-controller="users$userId$edit">
		<nav>
			<ol class="breadcrumb">
				  <li><a href="#" ng-href="#/">
				  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> トップ</a></li>
				  <li><a href="#" ng-href="#/users">ユーザ一覧</a></li>
				  <li class="active">{{makeTitle('ユーザ追加')}}</li>
			</ol>
		</nav>

		<header class="page-header">
			<h1>ユーザ追加</h1>
		</header>

		<article>
			<form method="post" name="userForm" ng-submit="submit()">
				<div class="panel panel-default">
					<div class="panel-heading">
						ユーザ情報
					</div>
					<table class="table">
						<tr>
							<th>ユーザ名</th>
							<td style="width: 75%;">
								<input type="text" name="username" class="form-control" placeholder="ユーザ名" 
								required="required" ng-minlength="8" ng-model="user.name" />
								<span ng-show="userForm.username.$error.minlength">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									ユーザ名には8文字以上を指定してください.
								</span>
							</td>
						</tr>
						<tr>
							<th>パスワード</th>
							<td>
								<input type="password" name="password" class="form-control" placeholder="パスワード" 
								required="required" ng-minlength="8" ng-model="user.password" />
								<span ng-show="userForm.password.$error.minlength">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									パスワードには8文字以上を指定してください.
								</span>
							</td>
						</tr>
						<tr>
							<th>管理者権限</th>
							<td><input type="checkbox" ng-model="user.admin" /></td>
						</tr>
					</table>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
							</div><!-- /.col-lg-N -->
							<div class="col-lg-4">
							</div><!-- /.col-lg-N -->
							<div class="col-lg-2" style="text-align: right;">
								<a class="btn btn-default" role="button" href="#" ng-href="#/users">キャンセル</a>
								<button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid">OK</button>
							</div><!-- /.col-lg-N -->
						</div><!-- /.row -->
					</div>
				</div>
			</form>
		</article>
	</div><!-- /.container -->
</body>
</html>