/* for navbar ui */
body {
	padding-top: 70px;
}
.pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}
.table-borderless td,
.table-borderless th {
    border: 0 !important;
}
.panel-login {
	width: 360px;
	margin: 80px auto;
}
.panel-init {
	width: 600px;
	margin: 80px auto;
}
.panel-login .panel-heading h1 {
	background: url(../img/logo_40x70.png) no-repeat;
	text-indent: 80px;
}
.entity-attribute {
/*	border: 1px solid #ccc;*/
	border-radius: 0.3ex;
	background-color: #f5f5f5;
	padding: 0.5ex 0.5ex 0.25ex;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace; 
}
.repeated-item {
	color: #ccc;
}