<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>アプリケーション・エラー</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body>
	<div class="container">
		<article>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h1>アプリケーション・エラー</h1>
				</div>
				<table class="table">
					<tr>
						<th nowrap="nowrap">タイムスタンプ</th>
						<td th:text="${timestamp}">Sun Jan 17 23:39:54 JST 2016</td>
					</tr>
					<tr>
						<th>ステータス</th>
						<td><span th:text="${status}"></span> <span th:text="${error}"></span></td>
					</tr>
					<tr>
						<th>メッセージ</th>
						<td th:text="${message}">Error resolving template "foo", 
						template might not exist or might not be accessible 
						by any of the configured Template Resolvers</td>
					</tr>
				</table>
			</div>
		</article>
	</div>
</body>
</html>