<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>アプリケーション初期化</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body>
	<div class="container">
		<article>
			<div th:if="${successful}" class="panel panel-success panel-init">
				<div class="panel-heading">
					<h1>アプリケーション初期化</h1>
				</div>
				<div class="panel-body">
					<p>アプリケーションの初期化に成功しました。
					管理者ユーザでログインしてユーザ情報やリポジトリ情報を登録してください。</p>
				</div>
			</div>
			<div th:unless="${successful}" class="panel panel-danger">
				<div class="panel-heading">
					<h1>アプリケーション初期化</h1>
				</div>
				<div class="panel-body">
					<p>アプリケーションの初期化に失敗しました。
					データベースへの接続設定を確認してください。
					設定に問題がない場合はアプリケーションがすでに初期化されたあとである可能性もあります。</p>
				</div>
				<table class="table">
					<tr><td>例外名</td><td th:text="${exceptionName}">SomeException</td></tr>
					<tr><td>メッセージ</td><td><pre th:text="${exceptionMessage}" style="width: 800px; overflow-x: auto; word-break: normal; word-wrap: normal; white-space: pre;">Unexpected error has occurred.</pre></td></tr>
					<tr><td>スタックトレース</td><td>
					<pre th:text="${exceptionStackTrace}" style="width: 800px; overflow-x: auto; word-break: normal; word-wrap: normal; white-space: pre;">at org.unclazz.metaversion.AClass.aMethod (AClass.java:123)
			at org.unclazz.metaversion.BClass.bMethod (BClass.java:123)
			at org.unclazz.metaversion.CClass.cMethod (CClass.java:123)</pre></td></tr>
				</table>
			</div>
		</article>
	</div>
</body>
</html>